callcenterIA/n8n_workflow_agustin_ventas.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ventas-ia",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "97f10a5b-ef11-442c-bacc-4df5eceb6436",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                560,
                160
            ],
            "webhookId": "719b8aee-8146-4733-9253-225be8b2c797"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"call_id\": $('Webhook').item.json.body.call_id,\n  \"response\": $json.output,\n  \"timestamp\": new Date().toISOString()\n} }}",
                "options": {}
            },
            "id": "7e7dc1f1-681a-4087-88ab-72b04c2251f1",
            "name": "Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1808,
                160
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "builtInTools": {},
                "options": {
                    "maxTokens": -1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                496,
                368
            ],
            "id": "f59c20ec-609c-498c-aae3-3ed48b3acee7",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "OciBWIWjOBAuFhUg",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.call_id }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                624,
                384
            ],
            "id": "360ebf21-0d8c-4663-a9f8-3c63ba2ed018",
            "name": "Simple Memory"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolThink",
            "typeVersion": 1.1,
            "position": [
                1552,
                432
            ],
            "id": "813dd8ad-a2fd-4f40-a221-2337ba02a4c2",
            "name": "Think"
        },
        {
            "parameters": {
                "toolDescription": "Llama a esta herramienta solo cuando debas terminar la llamada porque el cliente se despidió o la gestión terminó.",
                "method": "POST",
                "url": "=http://ari-bot:5000/hangup/{{ $json.body.call_id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                2016,
                416
            ],
            "id": "102bfa2f-fa0a-451e-bb7b-d77a9a1d0470",
            "name": "Colgar_llamada"
        },
        {
            "parameters": {
                "operation": "select",
                "table": {
                    "__rl": true,
                    "value": "contacts",
                    "mode": "list",
                    "cachedResultName": "contacts"
                },
                "limit": 1,
                "where": {
                    "values": [
                        {
                            "column": "document_number",
                            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
                        }
                    ]
                },
                "sort": {
                    "values": [
                        {
                            "column": "created_at"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySqlTool",
            "typeVersion": 2.5,
            "position": [
                768,
                432
            ],
            "id": "ff33bbb3-3745-4b17-aca6-4d918dd5523e",
            "name": "obtener_cliente",
            "credentials": {
                "mySql": {
                    "id": "Qt9GfYCdsN1Jh6ZP",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de VENTAS.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/3000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "0f3319c3-62c3-4f8d-b557-58ab15d2f84a",
            "name": "Transferir_Ventas",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                912,
                560
            ]
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de AGENDAMIENTO.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/5000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "24aa18d4-fc64-404d-9b38-e5ba907328e4",
            "name": "Transferir_Agendamiento",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                1120,
                560
            ]
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de SOPORTE / SERVICIO AL CLIENTE.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/4000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "0040e834-0cb2-426c-9cf2-66a88acbdf46",
            "name": "Transferir_Soporte",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                1312,
                560
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=El usuario dice: {{ $json.body.text }}",
                "options": {
                    "systemMessage": "#Rol\n\nEres Agustín, el agente de ventas experto de Cloudfly. Tu voz es de hombre, con acento español de España. Tu tono es carismático, energético, directo y profesional.\n\n#Objetivo\nTu misión es asesorar al cliente sobre nuestros productos de telefonía IP y cerrar ventas o agendar demos.\n\n#Procedimiento\n1. **Saludo**: Preséntate con energía como Agustín de Ventas.\n2. **Indagación**: Pregunta qué necesidades tiene el cliente.\n3. **Asesoría**: Explica brevemente los beneficios de Cloudfly (calidad, precios bajos, soporte 24/7).\n4. **Cierre**: Intenta cerrar la venta o conseguir un compromiso (correo, cita).\n\n#Reglas Críticas\n- Usa expresiones españolas como 'vale', 'os comento', 'claro que sí hombre', 'venga'.\n- Respuestas CORTAS (máximo 2-3 frases). Esto es una llamada telefónica.\n- Si el usuario pregunta por soporte o temas técnicos, diles amablemente que deben marcar a la opción de soporte (o transfiérelos si tienes la herramienta, pero tu foco es VENDER).\n- Si el cliente ya no quiere hablar, despídete y usa 'Colgar_llamada'.\n"
                }
            },
            "name": "Agente Ventas (Agustín)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                1024,
                160
            ],
            "id": "d7006ace-470c-4324-b684-323df43b0a0f"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Think": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Colgar_llamada": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "obtener_cliente": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Ventas": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Agendamiento": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Soporte": {
            "ai_tool": [
                [
                    {
                        "node": "Agente Ventas (Agustín)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Ventas (Agustín)": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3632f15870c3e4f82bb1e33b5629b6fe38f071fc4080eb549201a594a7caa028"
    }
}