callcenterIA/n8n/agente_recepcionista.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "telefono-ia",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "e0465f02-1fe7-453a-b84a-7343dd2bea5f",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -48,
                64
            ],
            "webhookId": "719b8aee-8146-4733-9253-225be8b2c797"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"call_id\": $('Webhook').item.json.body.call_id,\n  \"response\": $json.output,\n  \"timestamp\": new Date().toISOString()\n} }}",
                "options": {}
            },
            "id": "33e73977-f091-4c12-aafc-20ad0ea6d5a8",
            "name": "Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                64
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "builtInTools": {},
                "options": {
                    "maxTokens": -1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -112,
                272
            ],
            "id": "ff0118c1-9e4f-488d-a722-6a63b4677d8b",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "OciBWIWjOBAuFhUg",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.call_id }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                16,
                288
            ],
            "id": "ad81331d-229e-4832-8fa0-590d2cc8bfa4",
            "name": "Simple Memory"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolThink",
            "typeVersion": 1.1,
            "position": [
                944,
                336
            ],
            "id": "8e0325a3-638e-47db-ad56-74c7791a0fce",
            "name": "Think"
        },
        {
            "parameters": {
                "toolDescription": "Llama a esta herramienta solo cuando debas terminar la llamada porque el cliente se despidió o la gestión terminó.",
                "method": "POST",
                "url": "=http://ari-bot:5000/hangup/{{ $json.body.call_id }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                1400,
                320
            ],
            "id": "2b326400-c52a-4f2a-9a09-389804311496",
            "name": "Colgar_llamada"
        },
        {
            "parameters": {
                "operation": "select",
                "table": {
                    "__rl": true,
                    "value": "contacts",
                    "mode": "list",
                    "cachedResultName": "contacts"
                },
                "limit": 1,
                "where": {
                    "values": [
                        {
                            "column": "document_number",
                            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
                        }
                    ]
                },
                "sort": {
                    "values": [
                        {
                            "column": "created_at"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.mySqlTool",
            "typeVersion": 2.5,
            "position": [
                160,
                304
            ],
            "id": "a011a123-70b0-422c-aa71-647c5e71524e",
            "name": "obtener_cliente",
            "credentials": {
                "mySql": {
                    "id": "Qt9GfYCdsN1Jh6ZP",
                    "name": "MySQL account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de VENTAS.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/3000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "f5e6a123-1a2b-4c3d-8e4f-556677889900",
            "name": "Transferir_Ventas",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                300,
                450
            ]
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de AGENDAMIENTO.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/5000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "f5e6a123-b2c3-d4e5-f6a7-889900112233",
            "name": "Transferir_Agendamiento",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                500,
                450
            ]
        },
        {
            "parameters": {
                "toolDescription": "Transfiere la llamada al departamento de SOPORTE / SERVICIO AL CLIENTE.",
                "method": "POST",
                "url": "=http://ari-bot:5000/transfer/{{ $json.body.call_id }}/4000",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jsonBody', ``, 'string') }}",
                "options": {}
            },
            "id": "f5e6a123-c3d4-e5f6-a7b8-990011223344",
            "name": "Transferir_Soporte",
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                700,
                450
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=El usuario dice: {{ $json.body.text }}",
                "options": {
                    "systemMessage": "#Rol\n\nEres Laura, la recepcionista virtual de Cloudfly. Tu voz es amable y profesional.\n\n#Protocolo de Comunicación (ESTRICTO)\nDebes seguir este orden en tu primer contacto:\n1. **Saludo y Presentación**: \"Hola, bienvenido a Cloudfly, te habla Laura de recepción.\"\n2. **Empatía**: \"¿Cómo se encuentra el día de hoy?\"\n3. **Disponibilidad**: \"¿En qué puedo ayudarle?\"\n\n#Tu Función Principal (Solo Recepción)\n1. **Identificar Intención**: Determinar si el cliente llama por VENTAS, AGENDAMIENTO o SOPORTE.\n2. **Identificación (Documento)**: Solicitar cédula o NIT. Es obligatorio para continuar.\n3. **Validación**: Usar 'obtener_cliente' con el documento.\n4. **Transferencia**: Una vez identificado el departamento y el cliente, usa la herramienta de transferencia correspondiente.\n5. **Despedida**: Antes de transferir, despídete amablemente: \"Con gusto, ya lo comunico. Que tenga un excelente día.\"\n\n#Reglas de Oro\n- Máximo 2 frases breves por respuesta para mantener la fluidez.\n- No transfieras sin antes haber pedido el documento e identificado la intención.\n- Solo tú (recepción) haces transferencias. Otros departamentos atienden directamente.\n- Si el cliente solo quiere saludar o hablar, mantén el protocolo pero enfócate en llevarlo a la transferencia.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                416,
                64
            ],
            "id": "801a62e3-c180-46d0-9956-2ff5e428a6f1",
            "name": "Agente recepcionista"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Think": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Colgar_llamada": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "obtener_cliente": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Ventas": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Agendamiento": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Transferir_Soporte": {
            "ai_tool": [
                [
                    {
                        "node": "Agente recepcionista",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente recepcionista": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3632f15870c3e4f82bb1e33b5629b6fe38f071fc4080eb549201a594a7caa028"
    }
}